.blog-wrap {
    .heading {

        .title {
            padding: 0;
            
            h1, h2, h3 {
                color: #10109E;
                font-weight: 600;
                overflow-wrap: break-word;
            }
        }

        .search-title {
            color: #777E8E;
            b {
                color: #010C2A;
            }
        }
    }
}