.categories {
    .category {
        padding: 5px 10px;

        border-radius: 5px;
        color: #4C516F;
        font-size: .875rem;

        transition: background-color .1s, color .1s, border .1s;

        &:hover, &:active, &:focus,
        &.selected {
            background: #E4E6EC;
            color: #10109E;
        }
    }

    .category-reset {
        padding: 5px;

        color: #5C6373;
        transition: color .1s;

        &:hover, &:active, &:focus {
            color: #CC7E00;
        }
    }
}