$footer-bg: #051133;

footer {
    background-color: $footer-bg;
    border-top: solid 1px #4c516f;

    .logo img {
        width: 210px;
        max-width: 100%;
        height: auto;
        margin: auto;
    }

    .info {
        .contact {
            .list .list-item {

                .icon span {
                    background: -webkit-linear-gradient(270deg, #FFC038, #FF6D13);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
                
                .text {
                    font-weight: 600;
                    color: #F2F2F4;
                    transition: color .2s ease;

                    &:hover, &:active, &:focus {
                        color: var(--bs-primary)
                    }
                }
            }
        }
    
        .address {
            small {
                font-size: .75rem;
                
                a {
                    color: #A5B0CC;
                    
                    &:hover, &:active, &:focus {
                        color: var(--bs-primary);
                    }
                }
            }
        }
    }

    .social {
        padding: 0;
        border-left: solid 2px #777E8E;

        .align {
            margin-left: 30px !important;
        }
        
        .title {
            font-weight: 600;
            color: #F2F2F4;
        }

        .icons {
            a {
                color: #B6B6E2;
                font-size: 30px;

                margin-right: 10px;

                transition: color .1s;

                &:last-of-type {
                    margin-right: 0;
                }

                &:hover, &:active, &:focus {
                    color: #8585b3;
                }
            }
        }
    }
}

@media all and (max-width:768px) {
    
    footer {

        .logo img {
            width: 170px !important;
        }

        .social {
            padding-left: 0;
            margin-left: 0;
            border-left: none;

            padding-top: 1rem;
            margin-top: 1.5rem;
            border-top: solid 2px #777E8E;  
            
            .align {
                margin-left: auto !important;
            }
        }
    }
}

@media all and (max-width:575.9px) {

    footer {
        .logo img {
            margin: 0 auto 1rem auto;
        }
    }

}